@model Core.Domain.Project.Queries.RestApi.Dto.RestApiResponseDto
@{
    ViewData["Title"] = "Rest Services";
}



    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's privacy policy.</p>
        <main role="main" class="pb-3">
            <form action="RestService" method="post">


                <div class="form-row">
                    <div class="col-md-1 mb-1">


                        <select class="form-control" asp-for="HttpType" asp-items="Html.GetEnumSelectList<Domain.Enums.HttpType>()">
                            @*<option selected="selected" value="">Please select</option>*@
                        </select>
                        <span asp-validation-for="HttpType" class="text-danger" />
                    </div>
                    <div class="col-md-10 mb-1">
                        <input class="form-control" name="ApiURL" id="ApiURL" asp-for="ApiURL" />
                    </div>
                    <div class="col-md-1 mb-1">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-7">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        @* @Html.TextAreaFor(x => x.Response, new { @class = "form-control" })*@
                        <textarea class="form-control" asp-for="Response" style="height: 231px; border-width:5px"></textarea>
                    </div>
                </div>



              
                @* <button type="button" id="target" class="btn btn-primary">Primary</button>*@
            </form>
        </main>
    </div>


<div>
    <partial name="_HistoryRestRequest"/>
</div>


<script src="~/highlighter/highlighter.js"></script>